# A/B Testing
Determine which promotion has the greatest effect on sales

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('https://tinyurl.com/MyABTesting')

In [3]:
data.head()

,MarketID,MarketSize,LocationID,AgeOfStore,Promotion,week,SalesInThousands
0,1,Medium,1,4,3,1,33.73
1,1,Medium,1,4,3,2,35.67
2,1,Medium,1,4,3,3,29.03
3,1,Medium,1,4,3,4,39.25
4,1,Medium,2,5,2,1,27.81

In [6]:
pd.crosstab(data.Promotion, data.MarketSize)

MarketSize  Large  Medium  Small
Promotion
1              56      96     20
2              64     108     16
3              48     116     24

In [9]:
pd.crosstab(data.Promotion, data.week)

week        1   2   3   4
Promotion
1          43  43  43  43
2          47  47  47  47
3          47  47  47  47

In [12]:
pd.pivot_table(data=data, values='SalesInThousands', aggfunc=np.sum, 
              index=['Promotion'], fill_value=0)

           SalesInThousands
Promotion
1                   9993.03
2                   8897.93
3                  10408.52

Promotion 3 seems to lead more in sales, and then promotion 1, the last is promotion two. Let's see if there is any significant difference in between these three promotions.

In [13]:
pd.pivot_table(data=data, values='SalesInThousands', aggfunc=np.sum, 
              index=['Promotion','week'], fill_value=0)

                SalesInThousands
Promotion week
1         1              2504.51
          2              2447.97
          3              2527.32
          4              2513.23
2         1              2243.32
          2              2236.38
          3              2242.94
          4              2175.29
3         1              2621.48
          2              2629.61
          3              2555.76
          4              2601.67

The total sales seems evenly distributed through out the total promotion weeks.

In [14]:
pd.pivot_table(data=data, values='SalesInThousands', aggfunc=np.sum, 
              index=['Promotion','MarketSize'], fill_value=0)

                      SalesInThousands
Promotion MarketSize
1         Large                4213.21
          Medium               4576.57
          Small                1203.25
2         Large                3860.61
          Medium               4224.35
          Small                 812.97
3         Large                3705.79
          Medium               5274.39
          Small                1428.34

Different promotion works differently for different market size. 
1. All promotion generate lagest sale in Mudium Market size.
2. Promotion 2 has the least sale in small market size
3. Promotion 3 seems to work the best in small market size
4. Promotion 1 shares the largest portion of sale in large market size

In [15]:
data.shape

(548, 7)

### Set up the hypothesis
- first, let define the metrics: the goal here is to identify which promotion is the best. However with have 3, we can compare two by two.

0       1
1       1
2       1
3       1
4       1
       ..
543    10
544    10
545    10
546    10
547    10
Name: MarketID, Length: 548, dtype: int64